---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

interface Props {
	blog: CollectionEntry<"blogs">;
}

const { data, slug } = Astro.props.blog;

const convertDateFormat = (_date: Date) => {
  const date = dayjs(_date);
  const formattedDate = date.format('MMMM D, YYYY');
  
  return formattedDate;
};
---

<a class="card gap-2 pb-5 flex flex-col" href={`/blogs/${slug}`}>
	<time class="title" datetime="2023-06-19">{convertDateFormat(data.publishDate)}</time>
	<div style="padding: 0.5rem 1rem;">
		<img
			src={data.img}
			alt={data.img_alt || ""}
			loading="lazy"
			decoding="async"
		/>
	</div>
	<h2 class="title">{data.title}</h2>
	<p class="title">{data.description}</p>
</a>

<style>
	.card {
		height: 35rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
		border-radius: 0.75rem;
		padding: 1rem 0.25rem;
	}

	.card:hover {
		box-shadow: var(--shadow-md);
	}

	.title {
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-999);
		color: var(--gray-200);
		border-radius: 0.375rem;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0.75rem;
	}

	@media (min-width: 50em) {
		.card {
			height: 43rem;
			border-radius: 1.5rem;
			padding: 1.25rem;
		}

		.title {
			border-radius: 0.9375rem;
		}
	}
</style>
